<div class="container bg-color-white">
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Meine Hundeliste</h3>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName">Name des Hundes</label>
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="exampleInputBirthday">Geburtsdatum</label>
                            <input type="date" class="form-control" id="exampleInputBirthday">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="exampleInputChipnumber">Chipnummer</label>
                            <input type="text" class="form-control" id="exampleInputChipnumber">
                        </div>
                    </div>
                </form>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th ng-repeat="col in list_controller.config.table.columns">{{col.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_controller.items">
                                    <td ng-repeat="col in list_controller.config.table.columns">
                                        <cell val="item" template="col"></cell>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a href="#!/edit_modus" class="btn btn-default btn-sm"><span class="fa fa-plus"></span> Neuen Hund hinzufügen</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="banner"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default" ng-click="">
                zurück
            </button>
        </div>
    </div>

</div>