<!DOCTYPE html>
<html lang="de">
	<head>

	<!-- Basic Page Needs
	––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<meta charset="utf-8">
	<title>Züchter Riesenschnauzer</title>
	<meta name="description" content="">

	<!-- Mobile Specific Metas
	––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- FONT
	––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<link href="resources/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- CSS
	––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="resources/bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
	<link href="css/style.css" rel="stylesheet" media="all">

	<!-- Favicon
	––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<!--link rel="icon" type="image/x-icon" href="images/favicon.ico"-->
	
	<!--[if lt IE 9]>
		<script src="js/HTML5Shiv-printshiv.js" media="all"></script>
	<![endif]-->

	</head>

	<body id="home" ng-app="myApp">

		<!-- Primary Page Layout
		––––––––––––––––––––––––––––––––––––––––––––––––––-->
					
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Riesenschnauzer pfeffer-salz</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#"><span class="fa fa-home" aria-hidden="true"></span> Home</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registrierung<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li aria-haspopup="true" class="dropdown-submenu ">
									<a href="javascript:;" class="nav-link nav-toggle ">
										Besitzer
									</a>
									<a href="javascript:;" class="nav-link nav-toggle ">
										Intressenten
									</a>
									<a href="javascript:;" class="nav-link nav-toggle ">
										Züchter
									</a>
								</li>
							</ul>
						</li>

						<li><a href="#about">Über uns</a></li>
						<li><a href="#contact">Kontakt</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-controller="authCtrl as auth">
						<li><a href="./">
							<span class="btn btn-circle fa fa-sign-out"></span> Logout Benutzerkonto</a>
						</li>
						<li>
							<a data-toggle="modal" data-target="#myModal" 
							id="myModalOpen" type="button">
								<span class="btn btn-circle fa fa-sign-in"></span> Login Benutzerkonto 
							</a>
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									<div class="modal-header">
										<button type="button" id="myModalClose" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">Login Benutzerkonto</h4>
									</div>
									<div class="modal-body">
										<form class="form-inline">
											<div class="form-group">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Username" aria-describedby="username" ng-model="auth.credentials.username">
													<span class="input-group-addon" id="username">
														<i class="fa fa-user"></i>
													</span>
												</div>
											</div>
											<br>

											<div class="form-group half-top">
												<div class="input-group">
													<input type="password" class="form-control" placeholder="Password" aria-describedby="password" ng-model="auth.credentials.password">
													<span class="input-group-addon" id="password">
														<i class="fa fa-key"></i>
													</span>
												</div>
											</div>											
										</form>
									</div>
									<div class="modal-footer">
										<a class="font-size-small color-gray">Passwort vergessen</a>
										<button type="submit" class="btn btn-default btn-sm">Registrieren</button>
										<button class="btn btn-primary btn-sm" ng-click="auth.login();">Anmelden</button>
									</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<main role="main" ng-view>
		</main>	
				
		<footer role="contentinfo">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="row">
							<li class="col-xs-3">
								<span class="fa fa-copyright"></span> 2016 Die Riesenschnauzer Züchter
							</li>
							<li class="col-xs-3">Impressum</li>
							<li class="col-xs-3"></li>
							<li class="col-xs-3"></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- End Document
		––––––––––––––––––––––––––––––––––––––––––––––––––-->

		<!-- Javascript
		––––––––––––––––––––––––––––––––––––––––––––––––––-->
		<script type="text/javascript" src="resources/jquery-2.2.0/js/jquery-2.2.0.js"></script>
		<script type="text/javascript" src="resources/bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
		var ngControllers=[];
		var ngServices=[];
		var ngDirectives=[];
		</script>
		<script type="text/javascript" src="scripts/angular/angular.min.js"></script>
		<script type="text/javascript" src="scripts/angular/angular-route.min.js"></script>

		<script type="text/javascript" src="scripts/services/objectSvc.js"></script>
		<script type="text/javascript" src="scripts/services/httpSvc.js"></script>		
		<script type="text/javascript" src="scripts/directives/cell.js"></script>		

		<script type="text/javascript" src="scripts/controllers/dogsCtrl.js"></script>
		<script type="text/javascript" src="scripts/controllers/dogCtrl.js"></script>
		<script type="text/javascript" src="scripts/controllers/authCtrl.js"></script>

		<script type="text/javascript" src="scripts/controllers/listCtrl.js"></script>
		
		<script type="text/javascript" src="scripts/angular/app.js"> </script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>-->
		
		<script>
			$("[data-toggle=popover]").popover({
				html: true, 
				content: function() {
					return $('#popover-content').html();
					}
			});
		</script>
	</body>
</html>
