<div class="container bg-color-white">

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>Hund Verpaaren</h3>
                <hr/>
            </div>
        </div>
        <div class="row">
            <form name="pairing">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label >Name</label>
                        <input type="text" class="form-control" name="name" ng-model="searchobject.name">
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label >Nachname</label>
                        <input type="text" class="form-control" name="lastName" ng-model="searchobject.lastName">
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label >Geburtstag</label>
                                <input type="date" class="form-control" name="birthFrom" ng-model="searchobject.birthFrom">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label >bis</label>
                                <input type="date" class="form-control" name="birthTo" ng-model="searchobject.birthTo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Geschlecht</label>
                        <select class="form-control" ng-model="searchobject.male">
                            <option ng-value="true">männlich</option>
                            <option ng-value="false">weiblich</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <formvalues ng-model="searchobject.formvalues"></formvalues>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label>Zuchtfähig</label>
                        <select class="form-control" ng-model="searchobject.breedable">
                            <option ng-value="true">ja</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <button ng-click="search()">suchen</button>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <mytable ng-model="items" configname="'pairing'"></mytable>
                </div>
            </div>
            <mypaging></mypaging>
        </div>
    </div>
</div>