<div class="container bg-color-white">
    
    <form>
    
        <div class="row">
            <div class="col-xs-12">
                <h3>Details</h3>
                <hr/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="profile-image " data-logged-out-action="photo">
                    <img class="user-image" itemprop="image" width="260" height="260" alt="" src="">
                    <div class="spinner"></div>
                    <div class="upload-hover">
                        <input type="hidden" name="_method" value="PATCH">
                        <input name="authenticity_token" type="hidden" value="">
                        <input name="photo" type="file" class="hidden-file-upload" id="input-upload-photo">

                        <i class="icon-upload"></i>

                        <div class="upload-delete data-tooltip-right">
                            <div class="bar">Profilbild löschen</div>
                        </div>

                        <div class="file-hint">Profilbild wechseln</div>

                        <div class="file-size">
                            JPG, BMP, PNG (bis 20 MB)
                        </div>
                    </div>
                    <div class="loading-overlay">
                        <span class="progress-bar">
                            <span class="progress"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" ng-model="dogCtrl.dog.name">
                </div>
                <div class="form-group">
                            <label for="exampleInputName">Geschlecht</label>
                            <select class="form-control" ng-model="dogCtrl.dog.male">
                                <option ng-value="true">männlich</option>
                                <option ng-value="false">weiblich</option>
                            </select>
                        </div>
                <div class="form-group">
                    <label for="exampleInputBirthday">Geburtsdatum</label>
                    <input type="date" class="form-control" id="exampleInputBirthday" ng-model="dogCtrl.dog.birth">
                </div>
                <div class="form-group">
                    <label for="exampleInputRace">Rasse</label>
                    <input type="text" class="form-control" ng-model="dogCtrl.dog.race"  id="exampleInputRace">
                </div>
                <div class="form-group">
                    <label for="exampleInputChipnumber">Chipnummer</label>
                    <input type="text" class="form-control" id="exampleInputChipnumber" ng-model="dogCtrl.dog.chipnumber">
                </div>
                <div class="form-group">
                    <label for="exampleInputParent1">Name der Mutter</label>
                    <input type="text" class="form-control" id="exampleInputParent1">
                </div>
                <div class="form-group">
                    <label for="exampleInputParent2">Name des Vaters</label>
                    <input type="text" class="form-control" id="exampleInputParent2">
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Angaben zur Gesundheit</h4>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-12 col-md-4">
                <formvalue val="dogCtrl.dog.formvalue">
                </formvalue>
            </div>
            <div class="col-xs-12 col-md-4">
                 <div class="form-group">
                    <exam ng-repeat="exam in dogCtrl.dog.exams" val="exam"></exam>
                    <!--<select class="form-control"></select>-->
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                 <div class="form-group">
                    <label for="exampleInput">Zuchtfähig</label>
                    <select class="form-control" ng-model="dogCtrl.dog.breedable">
                        <option ng-value="true">ja</option>
                        <option ng-value="false">nein</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
        </div>
       
        <hr/>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Angaben zum Züchter</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">

                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputNumber">Zuchtbuchnummer</label>
                    <input type="text" class="form-control" id="exampleInputNumber">
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <hr/>
    
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Angaben zum Besitzer</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <hr/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <a class="btn btn-default" ng-href="#!/dogs/{{dogCtrl.dog.id}}">
                    zurück
                </a>
            </div>
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <button type="submit" class="btn btn-default right" ng-click="dogCtrl.dog.saveDog()">
                            <span class="fa fa-save"></span> speichern
                        </button>
            </div>
        </div>
       
    </form>

</div>