/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Tables
- Spacing
- Clearing
- Media Queries
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #eeeeef;
	color: #141413;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
	display: inline-table;
}
nav, 
main,
footer {
	width: 100%;
	right: 0;
	left: 0;
	display: table-row;
}
figcaption {
	font-size: 10px;
}
main {
	height: 86%;
	min-height: 86%;
	margin-bottom: 20px;
}
footer {
	height: 30px;
	margin: 0;
	background-color: #f8f8f8;
	opacity: 0.7;
	bottom: 0;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	color: #595959;
}
h1 {
	line-height: 42px;
}
h2 {}
h3, 
h4 {
	color: #141413
}
h3 {
	margin-top: 0;
}
h4 {
	margin-top: 0;
	color: #141413;
	margin-bottom: 15px;
}
h5 {
	font-weight: 700;
}
h6 {}
p {
	line-height: 22px;
}
.font-size-small {
	font-size: 11px;
}
.color-gray {
	color: #ccc;
}
.text-bold {
	font-weight: 600;
	font-size: 13px;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #595959;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn.btn-default {
    background: none;
	background-color: #eeeeef;
	border-radius: 0;
	text-shadow: none;
	color: #595959;
}
.btn-primary {
	background: none;
	background-color: #245878;
	border-radius: 0;
	text-shadow: none;
	color: #fff;
}
.btn.btn-circle {    
	height: 27px;
    width: 27px;
	border-radius: 25px!important;
    overflow: hidden;
	background: #eeeeef;
	font-size: 13px;
    line-height: 1.5;
	padding: 0 6px 2px;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control {
	height: 26px;
    border: 1px solid #ddd;
    padding: 6px 8px;
    font-size: 13px;
}

input[type=date].form-control, 
input[type=time].form-control, 
input[type=datetime-local].form-control, 
input[type=month].form-control {
	line-height: 12px;
}
label {
	font-size: 13px;
}

.input-group .input-group-addon {
	width: 40px!important;
	height: 26px;
    border-color: #ddd;
	padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
}
/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav .fa.fa-home {
	font-size: 18px;
}
nav .fa.fa-sign-in,
nav .fa.fa-sign-out {
	font-size: 16px;
}
.banner,
.banner-1,
.banner-2 {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: top center;
}
.banner-1,
.banner-2 {
	width: 300px;
	height: 199px;
}
.banner {
	background-image: url("../images/banner.jpg");
	width: 367px;
	height: 272px;
	margin: 0 auto;
}
.banner-1 {
	background-image: url("../images/banner_1.jpg");
}
.banner-2 {
	background-image: url("../images/banner_2.jpg");
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	padding: 5px 0;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table tr th,
table tr td {
	width: 33.33%;
	font-size: 13px;
}
table tr th:first-child,
table tr td:first-child {
	padding: 8px 0;
}
table tr th:nth-child(2),
table tr td:nth-child(2) {
	padding: 8px 10px;
}
table tr th:last-child,
table tr td:last-child {
	padding: 8px 20px;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-fluid > .navbar-collapse, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container > .navbar-header {
	padding: 0;
	margin: 0 -15px;
}
.navbar {
	height: 50px;
}
.navbar-nav > li:first-child > a {
	padding-left: 0;
}
.navbar-nav > li > .dropdown-menu {
	background-color: #e2e2e2;
	border: 1px solid #e2e2e2;
	border-top-color: #ffffff;
	border-radius: 0;
}
.navbar-nav > li.dropdown.open {
	padding-bottom: 0;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
	background-image: none;
	background-color: #f5f5f5;
}
.profile-image {
    background: #f2f2f2;
    border-radius: 2px;
	border-color: #f2f2f2;
    height: 260px;
    margin-bottom: 56px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 260px;
}
.profile-image:hover {
    overflow: visible;
}
.upload-hover {
    background: #000;
    background: rgba(0,0,0,0.65);
    border-radius: 2px;
    color: #f2f2f2;
    font-weight: bold;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -231px;
    width: 100%;
    transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
}
.upload-hover form {
    height: 230px;
    width: 230px;
}
.upload-hover .file-hint {
    display: block;
    margin-top: 125px;
}
.profile-image .file-size {
    font-weight: normal;
}
.profile-image .file-new, .upload-hover .file-size {
    bottom: 7px;
    font-size: 11px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.loading-overlay {
    display: none;
    background: rgba(245,245,245,0.9);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}
.loading-overlay .progress-bar {
    margin-top: 110px;
    display: inline-block;
    position: relative;
    background-color: rgba(0,101,103,0.15);
}
.loading-overlay .progress-bar, .loading-overlay .progress {
    width: 170px;
    height: 6px;
    border: none;
    border-radius: 2px;
    background-color: #006567;
}
.loading-overlay .progress {
    width: 1%;
    display: block;
}
.loading-overlay .progress-bar, .loading-overlay .progress {
    width: 170px;
    height: 6px;
    border: none;
    border-radius: 2px;
    background-color: #006567;
}

.popover-content .form-inline,
.popover-content .inline-group {
	width: 100%;
} 
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {}
.text-muted {
	margin: 0 10px 0 0;
}
.no-padding {
	padding: 0;
}
.add-top {
	margin-top: 20px;
}
.half-top {
	margin-top: 10px;
}
.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.right {
	float: right;
}
.bg-color-white {
	background-color: #fff;
	margin-top: 10px;
	padding: 20px;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after {}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
