<div class="container bg-color-white" ng-controller="dogCtrl as dog">
    
    <form>
    
        <div class="row">
            <div class="col-xs-8">
                <h3>Details</h3>
            </div>
            <div class="col-xs-4 text-right">
                <button type="submit" class="btn btn-default" ng-click="">
                    <span class="fa fa-edit"></span> bearbeiten
                </button>
            </div>
            <div class="col-xs-12 border-small">
                <hr />
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="image-profile-dog">
                    <!--img class="user-image" itemprop="image" width="260" height="260" alt="" src="">
                    <div class="spinner"></div>
                    <div class="upload-hover">
                        <input type="hidden" name="_method" value="PATCH">
                        <input name="authenticity_token" type="hidden" value="">
                        <input name="photo" type="file" class="hidden-file-upload" id="input-upload-photo">

                        <i class="icon-upload"></i>

                        <div class="upload-delete data-tooltip-right">
                            <div class="bar">Profilbild löschen</div>
                        </div>

                        <div class="file-hint">Profilbild wechseln</div>

                        <div class="file-size">
                            JPG, BMP, PNG (bis 20 MB)
                        </div>
                    </div>
                    <div class="loading-overlay">
                        <span class="progress-bar">
                            <span class="progress"></span>
                        </span>
                    </div-->
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Haily" ng-model="dog.dog.name">
                </div>
                <div class="form-group">
                            <label for="exampleInputName">Geschlecht</label>
                            <select class="form-control" ng-model="dog.dog.male">
                                <option value="1">männlich</option>
                                <option value="0">weiblich</option>
                            </select>
                        </div>
                <div class="form-group">
                    <label for="exampleInputBirthday">Geburtsdatum</label>
                    <input type="date" class="form-control" id="exampleInputBirthday" ng-model="dog.dog.birth">
                </div>
                <div class="form-group">
                    <label for="exampleInputRace">Rasse</label>
                    <input type="text" class="form-control" id="exampleInputRace">
                </div>
                <div class="form-group">
                    <label for="exampleInputChipnumber">Chipnummer</label>
                    <input type="text" class="form-control" id="exampleInputChipnumber" ng-model="dog.dog.chipnumber">
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4"></div>
        </div>
         
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-8">
                 <hr/>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <h4>Angaben zur Gesundheit</h4>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

         <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputFile">Formwert</label>
                    <select class="form-control" ng-model="dog.formvalue" ng-options="value.name for value in dog.formvalues"></select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                 <div class="form-group">
                    <label for="exampleInputTest">Prüfungen</label>
                    <select class="form-control"></select>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInput">Zuchtfähig</label>
                    <select class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-8">
                 <hr/>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <h4>Angaben zu den Eltern</h4>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

         <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputParent1">Name der Mutter</label>
                    <input type="text" class="form-control" id="exampleInputParent1">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                 <div class="form-group">
                    <label for="exampleInputParent2">Name des Vaters</label>
                    <input type="text" class="form-control" id="exampleInputParent2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-8">
                 <hr/>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <h4>Angaben zum Züchter</h4>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputNumber">Zuchtbuchnummer</label>
                    <input type="text" class="form-control" id="exampleInputNumber">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-8">
                 <hr/>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <h4>Angaben zum Besitzer</h4>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
            </div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                 <hr/>
            </div>
        </div>
    </form>

</div>