<div class="container bg-color-white fixed-height">
    
    <div class="row">
        <div class="col-xs-12">
            <h1>Willkommen in Ihrem Kundenportal.</h1>
            <p> 
                <br/>
                Wir freuen uns, dass Sie unser Kundenportal nutzen. Hier finden Sie die wichtigsten Informationen und Online-Services auf einen Blick.
            </p>
            
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">

                    <a href="#!/profil">
                        <div class="banner-3"></div>
                    </a>

                    <br/>

                    <h4>Meine persönliche Daten</h4>

                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                    </p>

                    <br/>

                    <a href="#!/profil" class="btn btn-default btn-sm">Zu meinen persönlichen Daten</span></a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <a href="#!/dogs">
                        <div class="banner-8"></div>
                    </a>

                    <br/>

                    <h4>Meine Hunde</h4>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                    </p>
                    
                    <br/>

                    <a href="#!/dogs" class="btn btn-default btn-sm">Zu meinen Hunden</a>
                </div>

                
                <div class="col-xs-12 col-md-4">
                    <a href="#!/dogs">
                        <div class="banner-8"></div>
                    </a>

                    <br/>

                    <h4>Meine Zucht</h4>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                    </p>
                    
                    <br/>

                    <a  href="#!/dogs" class="btn btn-default btn-sm">Zu meinen Zuchtdaten</a>
                </div>

            </div>
        </div>
    </div>
    
</div>