<div class="container bg-color-white fixed-height">
    
    <div class="row">
        <div class="col-xs-12">
            <h1>Willkommen in Ihrem Kundenportal.</h1>
            <p> 
                <br/>
                Wir freuen uns, dass Sie unser Kundenportal nutzen. Hier finden Sie die wichtigsten Informationen und Online-Services auf einen Blick.
            </p>
            
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-12 col-md-8">

            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <a href="#!/profil">
                        <div class="banner-1"></div>
                        <div class="bg-color-white">
                            <h4>Meine persönliche Daten</h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="#!/dogs">
                        <div class="banner-1"></div>
                        <div class="bg-color-white">
                            <h4>Meine Hunde</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
    
</div>