<div class="container bg-color-white">
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>Der Riesenschnauzer salz - pfeffer</h1>
            <p> 
                <br/>
                Der Riesenschnauzer ist ein sehr wachsamer, intelligenter und sensibler Hund, der Fremden gegenüber eher misstrauisch ist. In seiner Familie jedoch ist er sehr anhänglich und braucht Aufmerksamkeit. Da der Riesenschnauzer früher Fuhrwerke auf ihren langen Fahrten begleitete, braucht er viel Bewegung und Beschäftigung, aber auch ausreichend Ruhephasen.
                <br/><br/>
                Erfahren Sie hier alles wissenswerte über diese ganz besondere Hunderasse.
            </p>
            
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="banner"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

     

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="banner-3"></div>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Besitzer</h4>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <a class="btn btn-default btn-sm">weiterlesen <span class="fa fa-angle-right"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="banner-7"></div>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Intressenten</h4>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <a class="btn btn-default btn-sm">weiterlesen <span class="fa fa-angle-right"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
           <div class="banner-6"></div>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Züchter</h4>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <a class="btn btn-default btn-sm">weiterlesen <span class="fa fa-angle-right"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
    
</div>