<div class="container bg-color-white">
    
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>Der Riesenschnauzer salz - pfeffer</h1>
            <p> 
                <br/>
                Der Riesenschnauzer ist ein sehr wachsamer, intelligenter und sensibler Hund, der Fremden gegenüber eher misstrauisch ist. In seiner Familie jedoch ist er sehr anhänglich und braucht Aufmerksamkeit. Da der Riesenschnauzer früher Fuhrwerke auf ihren langen Fahrten begleitete, braucht er viel Bewegung und Beschäftigung, aber auch ausreichend Ruhephasen.
                <br/><br/>
                Erfahren Sie hier alles wissenswerte über diese ganz besondere Hunderasse.
            </p>
            
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="banner"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

     

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="banner-1"></div>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Besitzer</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="banner-1"></div>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Intressenten</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="#!/edit_modus"><div class="banner-1"></div></a>
        </div>
        <div class="col-xs-12 col-md-8">
            <h4>Für Züchter</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr/>
        </div>
    </div>
    
</div>