<div class="container bg-color-white">
    <form>
        <div class="row">
            <div class="col-xs-12">
                <h3>Registrieren</h3>
                <hr/>
            </div>
        </div>

        <br/>

        
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Persönliche Daten</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputForeName">Vorname</label>
                    <input type="text" class="form-control" id="exampleInputForeName">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="form-group">
                    <label for="exampleInputCEmail">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail">
                </div>
                <div class="form-group">
                    <label for="exampleInputParent1">Email wiederholen</label>
                    <input type="text" class="form-control" id="exampleInputParent1">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword">Passwort</label>
                    <input type="date" class="form-control" id="exampleInputPassword">
                </div>
                <div class="form-group">
                    <label for="exampleInputRace">Password wiederholen</label>
                    <input type="text" class="form-control" id="exampleInputRace">
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <hr/>
       
    </form>

</div>