<div class="container bg-color-white">
    <form>
        <div class="row">
            <div class="col-xs-12">
                <h3>Registrieren</h3>
                <hr/>
            </div>
        </div>

        <br/>

        
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Persönliche Daten</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="text-bold">Anrede</div>
                 <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Frau
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Herr
                </label>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
        </div>

        <div class="row half-top">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="exampleInputCForeName">Vorname</label>
                    <input type="text" class="form-control" id="exampleInputForeName">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="form-group">
                    <label for="exampleInputCEmail">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email wiederholen</label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword">Passwort</label>
                    <input type="date" class="form-control" id="exampleInputPassword">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password wiederholen</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Ich versichere, die Datenschutzerklärung gelesen zu haben. Der Nutzung meiner Daten gemäß der Datenschutzerklärung stimme ich zu.
                    </label>
                </div>
            </div>
        </div>

        <div class="row half-top">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-sm">Jetzt Registrieren</button>
            </div>
        </div>

        <hr/>
       
    </form>

</div>